<p>
  <a href="https://github.com/mh61503891/pc-cat/blob/development/content/tracks/<%= @content[:category_key] %>/<%= @content[:key] %>.srt" class="btn btn-sm btn-light">
  <span>Edit tracks on GitHub</span>
  <i data-feather="github"></i>
  </a>
</p>
